body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

.box {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    text-align: center;
    transition: 0.25s;
    margin-top: 80px;
    border: black;
    float: left;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    padding-right: 516px;
    margin: 10px auto;
    border: 2px solid #29C583;
    padding: 5px 12px;
    top: 50%;
    left: 50%;
    width: 77%;
    height: 42px;
    outline: none;
    color: black;
    border-radius: 15px;
    resize: vertical;
}
.box img {
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
}

.box a{
    color: #29C583;
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 47px auto;
    margin-bottom: 27px;
    text-align: center;
    background: #29C583;
    padding: 5px 12px;
    top: 50%;
    left: 50%;
    width: 77%;
    height: 42px;
    outline: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    resize: vertical;
}

.box input[type="submit"]:hover {
    background: #26ad5f
}

@media all and (max-width: 1000px) {
    .col, .box, .row, input[type=submit] {
       width: 100%;
    }
  }

@media all and (max-width: 670px) {
    .col, .box, .row, input[type=submit] {
      width: 70%;
    }
  }

