* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

.navbar{
    position: sticky;
}

.navbar li{
    display: inline;
    list-style-type: none;
    float: right;
    font-size: 20px;
    padding-right: 10px;
    margin-top: -40px;
    
}

.navbar li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.box {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    text-align: center;
    transition: 0.25s;
    margin-top: 80px;
    border: black;
    float: left;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    padding-right: 516px;
    margin: 10px auto;
    border: 2px solid #29C583;
    padding: 5px 12px;
    top: 50%;
    left: 50%;
    width: 77%;
    height: 42px;
    outline: none;
    color: black;
    border-radius: 15px;
    resize: vertical;
}

.dot3 {
    color: transparent;
    padding: 10px 150px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    
}

.box img {
    padding-bottom: 0px;
    top: 50%;
    left: 50%;
}

.box a{
    color: #29C583;
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 47px auto;
    margin-bottom: 27px;
    text-align: center;
    background: #29C583;
    padding: 5px 12px;
    top: 50%;
    left: 50%;
    width: 77%;
    height: 42px;
    outline: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    resize: vertical;
}

.box input[type="submit"]:hover {
    background: #26ad5f
}
/* register page */
aside{
    float: right;
    width: 58%;
    margin-top: 20px;
    padding-right: 150px;
    border: none;
    display: block;
}

.form header{
    padding:20px 0px;
}

input[type=text], input[type=date], input[type=password], select {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #29C583;
    border-radius: 15px;
    resize: vertical;
}

label{
    padding: 10px 12px 10px 0;
    display: inline-block;
    font-weight: 700;
}

input[type=submit]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    background: #29C583;
    padding: 5px 12px;
    margin-bottom: 40px;
    width: 100%;
    height: 42px;
    outline: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    resize: vertical;
}

input[type=submit]:hover{
    background: #26ad5f
}

.col-25{
    width: 25%;
}

.col-75{
    width: 75%;
}

.dot {
    height: 750px;
    width: 780px;
    background-color: #29C583;
    border-radius: 50%;
    display: block;
    position: fixed;
    margin-left: -210px;
    margin-top: -280px;
}

.dot2 {
    width: 300px;
    padding: 5px 10px;
    margin-left: 90px;
    margin-top: 65px;
    background-color: white;
    border: 2px solid #29C583;
    border-radius: 35px; 
    display: block;
    position: fixed;
    float: left;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #335849;
}

#content a {
    display: block;
    position: fixed;
    margin-left: 90px;
    margin-top: 175px;
    float: left;
    text-align: center;
    font-size: 17px;
}
#content i{
    display: block;
    position: fixed;
    margin-left: 135px;
    margin-top: 215px;
    color: white;
}

#content p{
    display: block;
    position: fixed;
    margin-left: 135px;
    margin-top: 210px;
    color: white;
    padding-left: 25px;
    font-size: 18px;
}

div#content{
    padding: 20px 15px;
    float: left;
    width: 42%;
}

/* Sidebar Dashboard*/
.nav{
    position: fixed;
    width: 270px;
    height: 100%;
    background: #29C583;
    transition: 0.5s;
    border-radius: 0px 35px 0px 0px;
}

.nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
}

.nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    padding-bottom: 20px;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.nav ul li a:hover{
    color: white;
}

@media screen and (max-width: 1000px) {
    .col, .box, .row, input[type=submit], .dot {
       width: 100%;
    }
  }

@media screen and (max-width: 670px) {
    .col, .box, .row, input[type=submit], .dot {
      width: 70%;
    }
  }

